body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif;
	margin: auto;
	max-width: 38rem;
	padding: 2rem;
	background-image: linear-gradient(to left, #ffd966, #97d077);
	color: #fff;
}

table,
th,
td {
	border: 1px solid black;
}

h1 {
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.content {
	width: 100%;
	overflow: auto;
}
